<div class="container">
  <div class="sidebar">
    <button class="side_btn" (click)="toggleContentDisplay()">
      <p style="font-size: 25px;">
        <fa-icon 
          [style.color]="isContentFlex ? 'orange' : 'inherit'" [icon]="faSidebarVisible"
          [icon]="isContentFlex ? faSidebarVisible : faSidebarUnvisible">
        </fa-icon>
      </p>
    </button>
    <div class="vertical-text" style="margin-top: 15px;">
      <span style="color: orange;">E</span>
      <span>x</span>
      <span>p</span>
      <span>e</span>
      <span>r</span>
      <span>i</span>
      <span>m</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
  </div>
    <button class="side_btn" (click)="activeTab = 'tab1'">
      <fa-icon [icon]="faOffline" style="font-size: 24px; color: red; position: absolute; margin-left: -24px; margin-top: 15px;"></fa-icon>
      <p style="font-size: 32px;">
        <fa-icon [icon]="faGlobe" [style.color]="activeTab === 'tab1' ? 'orange' : 'inherit'"></fa-icon>
      </p>
    </button>
    <button class="side_btn" (click)="activeTab = 'tab2'">
      <fa-icon [icon]="faOnline" style="font-size: 24px; color: green; position: absolute; margin-left: -24px; margin-top: 15px;"></fa-icon>
      <p style="font-size: 32px;">
        <fa-icon [icon]="faGlobe" [style.color]="activeTab === 'tab2' ? 'orange' : 'inherit'"></fa-icon>
      </p>
    </button>
  </div>
  <div class="content" [style.display]="isContentFlex ? 'flex' : 'none'">
    <div *ngIf="activeTab === 'tab1'">
      <h1 style="color: #212529">Offline</h1>
      <p>Here are some examples produced in python</p>
      <div style="margin-top: 15px;">
        <button class="experiment_btn" [style.color]="selectedOfflineButtonIndex === 0 ? 'orange' : 'white'" (click)="setSelectedButton(0)">FUNDE</button>
        <button class="experiment_btn" [style.color]="selectedOfflineButtonIndex === 1 ? 'orange' : 'white'" (click)="setSelectedButton(1)">BEZ_N, DATIERUNG_N</button>
        <button class="experiment_btn" [style.color]="selectedOfflineButtonIndex === 2 ? 'orange' : 'white'" (click)="setSelectedButton(2)">BEZ_N, FUNDE_N</button>
        <button class="experiment_btn" [style.color]="selectedOfflineButtonIndex === 3 ? 'orange' : 'white'" (click)="setSelectedButton(3)">BEZ_N, FUNDKATEGORIE_N</button>
        <button class="experiment_btn" [style.color]="selectedOfflineButtonIndex === 4 ? 'orange' : 'white'" (click)="setSelectedButton(4)">BEZ_N, FUNDE_N, DATIERUNG_N</button>
        <button class="experiment_btn" [style.color]="selectedOfflineButtonIndex === 5 ? 'orange' : 'white'" (click)="setSelectedButton(5)">BEZ_N, FUNDE_N, DATIERUNG_N, FUNDKATEGORIE_N</button>
      </div>
    </div>
    <div *ngIf="activeTab === 'tab2'">
      <h1 style="color: #212529">Online</h1>
      <p>Produce your own examples with tensorflow.js</p>
      <form id="online_form" [formGroup]="form" (ngSubmit)="submit(0)">
        <p>Data</p>
        <div class="checkbox-column">
          <label>
            <input type="checkbox" formControlName="FUNDE_N">
            FUNDE
          </label>
          <label>
            <input  type="checkbox" formControlName="BEZ_N">
            BEZ
          </label>
          <label>
            <input type="checkbox" formControlName="DATIERUNG_N">
            DATIERUNG
          </label>
          <label>
            <input type="checkbox" formControlName="FUNDKATEGORIE_N">
            FUNDKATEGORIE
          </label>
          <span class="error_message2" *ngIf="form.hasError('atLeastTwoRequired')">
            Check at least two options.
          </span>
        </div>
        <div class="column-container">
          <p>k-Means</p>       
          <div class="row dbscan2columns">
            <div class="input-container">
              <label for="kMeans">Number of Clusters</label>
              <input class="inputAlgo" type="number" formControlName="n_kMeans" id="n_kMeans" min="2" max="10">
              <div class="error_message" *ngIf="form.controls['n_kMeans'].errors && form.controls['n_kMeans'].touched">
                <span *ngIf="form.controls['n_kMeans'].errors['required']">Number of Clusters is required!</span>
                <span *ngIf="form.controls['n_kMeans'].errors['min']">Minimum k value is 2.</span>
                <span *ngIf="form.controls['n_kMeans'].errors['max']">Maximum k value is 10.</span>
                <span *ngIf="form.controls['n_kMeans'].errors['notWholeNumber']">Please enter a whole number.</span>
              </div>       
            </div>
            <div class="input-container"></div>
          </div>
          <p>DBSCAN</p>
          <div class="row dbscan2columns">
            <div class="input-container">
              <label for="eps_dbscan">Epsilon</label>
              <input class="inputAlgo" type="number" formControlName="eps_dbscan" id="eps_dbscan" min="0.01" max="10" step="0.01">
              <div class="error_message" *ngIf="form.controls['eps_dbscan'].errors && form.controls['eps_dbscan'].touched">
                <span *ngIf="form.controls['eps_dbscan'].errors['required']">Epsilon is required!</span>
                <span *ngIf="form.controls['eps_dbscan'].errors['min']">Minimum eps value is 0.01.</span>
                <span *ngIf="form.controls['eps_dbscan'].errors['max']">Maximum eps value is 10. </span>
                <span *ngIf="form.controls['eps_dbscan'].errors['tooManyDecimals']">Epsilon can have at most 4 decimal places.</span>
              </div>
            </div>
            <div class="input-container">
              <label for="eps_dbscan">Minimum Points</label>
              <input class="inputAlgo" type="number" formControlName="minPts_dbscan" id="minPts_dbscan" min="2" max="2503">
              <div class="error_message" *ngIf="form.controls['minPts_dbscan'].errors && form.controls['minPts_dbscan'].touched">
                <span *ngIf="form.controls['minPts_dbscan'].errors['required']">Minimum Points is required!</span>
                <span *ngIf="form.controls['minPts_dbscan'].errors['min']">Minimum minPts value is 2.</span>
                <span *ngIf="form.controls['minPts_dbscan'].errors['max']">Maximum minPts value is 2503.</span>
                <span *ngIf="form.controls['minPts_dbscan'].errors['notWholeNumber']">Please enter a whole number.</span>
              </div>
            </div>
          </div>
          <p>AGNES</p>
          <div class="row dbscan2columns">
            <div class="input-container">
              <label for="agnes">Number of Clusters</label>
              <input class="inputAlgo" type="number" formControlName="n_agnes" id="n_agnes" min="2" max="10">
              <div class="error_message" *ngIf="form.controls['n_agnes'].errors && form.controls['n_agnes'].touched">
                <span *ngIf="form.controls['n_agnes'].errors['required']">Number of Clusters is required!</span>
                <span *ngIf="form.controls['n_agnes'].errors['min']">Minimum value is 2.</span>
                <span *ngIf="form.controls['n_agnes'].errors['max']">Maximum value is 10.</span>
                <span *ngIf="form.controls['n_agnes'].errors['notWholeNumber']">Please enter a whole number.</span>
              </div>
            </div>
            <div class="input-container"></div>
          </div>
        </div>
        <button class="experiment_btn" type="submit" style="margin-top: 10px;" [style.color]="selectedOnlineButtonIndex === 0 ? 'orange' : 'white'">Run</button>
      </form>
    </div>
  </div>
  <div class="dashboard">

    <gridster [options]="options">
      <gridster-item *ngFor="let item of dashboard" [item]="item">
        <div>
          {{item['content']}}
        </div>
      </gridster-item>
    </gridster>
    

  </div>
</div>
