<div class="container">
  <div class="sidebar">
    <button class="side_btn" (click)="toggleContentDisplay()">
      <p style="font-size: 25px;">
        <fa-icon 
          [style.color]="isContentFlex ? 'orange' : 'inherit'" [icon]="faSidebarVisible"
          [icon]="isContentFlex ? faSidebarVisible : faSidebarUnvisible">
        </fa-icon>
      </p>
    </button>
    <div class="vertical-text" style="margin-top: 15px;">
      <span style="color: orange;">E</span>
      <span>x</span>
      <span>p</span>
      <span>e</span>
      <span>r</span>
      <span>i</span>
      <span>m</span>
      <span>e</span>
      <span>n</span>
      <span>t</span>
      <span>s</span>
  </div>
    <button class="side_btn" (click)="activeTab = 'tab1'">
      <fa-icon [icon]="faOffline" style="font-size: 24px; color: red; position: absolute; margin-left: -24px; margin-top: 15px;"></fa-icon>
      <p style="font-size: 32px;">
        <fa-icon [icon]="faGlobe" [style.color]="activeTab === 'tab1' ? 'orange' : 'inherit'"></fa-icon>
      </p>
    </button>
    <button class="side_btn" (click)="activeTab = 'tab2'">
      <fa-icon [icon]="faOnline" style="font-size: 24px; color: green; position: absolute; margin-left: -24px; margin-top: 15px;"></fa-icon>
      <p style="font-size: 32px;">
        <fa-icon [icon]="faGlobe" [style.color]="activeTab === 'tab2' ? 'orange' : 'inherit'"></fa-icon>
      </p>
    </button>
  </div>
  <div class="content" [style.display]="isContentFlex ? 'flex' : 'none'">
    <div *ngIf="activeTab === 'tab1'">
      <h1>Offline</h1>
      <p>Here are some examples produced in python</p>
      <div style="margin-top: 15px;">
        <button class="experiment_btn" [style.color]="selectedButtonIndex === 0 ? 'orange' : 'white'" (click)="setSelectedButton(0)">FUNDE</button>
        <button class="experiment_btn" [style.color]="selectedButtonIndex === 1 ? 'orange' : 'white'" (click)="setSelectedButton(1)">BEZ_N, DATIERUNG_N</button>
        <button class="experiment_btn" [style.color]="selectedButtonIndex === 2 ? 'orange' : 'white'" (click)="setSelectedButton(2)">BEZ_N, FUNDE_N</button>
        <button class="experiment_btn" [style.color]="selectedButtonIndex === 3 ? 'orange' : 'white'" (click)="setSelectedButton(3)">BEZ_N, FUNDKATEGORIE_N</button>
        <button class="experiment_btn" [style.color]="selectedButtonIndex === 4 ? 'orange' : 'white'" (click)="setSelectedButton(4)">BEZ_N, FUNDE_N, DATIERUNG_N</button>
        <button class="experiment_btn" [style.color]="selectedButtonIndex === 5 ? 'orange' : 'white'" (click)="setSelectedButton(5)">BEZ_N, FUNDE_N, DATIERUNG_N, FUNDKATEGORIE_N</button>
      </div>
    </div>
    <div *ngIf="activeTab === 'tab2'">
      <h1>Online</h1>
      <p>Produce your own examples with tensorflow.js</p>
      <!-- Clear buttons off Offline test -->
    </div>
  </div>
  
</div>
