/* Header Start */
.header-container {
  text-align: center;
  top: 0;
  width: 100%;
  background-color: #212529;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  border-bottom: 1px solid grey;
}
.btn {
  display: inline-block;
  background: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.active {
  transform: scale(0.98);
  color: orange;
}
.btn-block {
  display: block;
  width: 100%;
}

@media screen and (max-width: 618px) {
  .header-text {
    display: none;
  }
}

/* Header end */

.container {
  display: flex;
  height: 100vh;
  max-height: calc(100vh - 82px); /* [Height of header] */
  overflow-y: auto;
}

.content {
  width: max-content;
  flex: none;
  padding: 20px;
  margin: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: white !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.vertical-text span {
  font-size: 26px;
  color: white;
  margin: 0;
  line-height: 1;
  display: block;
  text-align: center;
}

.experiment_btn {
  margin-top: 5px;
  display: flex;
  background-color: #212529;
  text-align: center;
  padding: 10px;
  color: #fff;
  width: 100%;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

#online_form {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
}

#online_form p {
  width: 100%;
  text-align: center;
  font-weight: bold;
  display: flex;
}

.checkbox-column {
  flex: 1;
  box-sizing: border-box;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
}

.checkbox-column label {
  padding-top: 5px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.error_message2 {
  color: red;
  font-weight: bold;
  height: 0px;
  font-size: 12px;
  position: relative;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent; /* Background of the unchecked checkbox */
  border: 1px solid grey; /* Border of the unchecked checkbox */
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Add a checkmark symbol when checkbox is checked */
input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  border: solid #212529; /* Color of the checkmark */
  border-width: 0 2px 2px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
}

/* Change background color when checkbox is checked */
input[type="checkbox"]:checked {
  background-color: transparent; /* Color of the checked checkbox */
  border-color: #212529; /* Border color of the checked checkbox */
}

.checkbox-column input[type="checkbox"] {
  margin-right: 5px;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.inputAlgo {
  padding: 5px;
  border: 1px solid #ced4da;
  width: 100%;
  height: 30px;
  border: 1px solid grey;
}

.row label,
.row input {
  display: block;
  font-size: 12px;
}

.dbscan2columns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.input-container {
  flex: 1;
}

.error_message span {
  color: red;
  text-align: center;
  font-weight: bold;
  height: 0px;
  font-size: 12px;
}

.dashboard {
  padding: 25px;
  background-color: #ccc;
  position: relative;
  width: 100%;
  height: 100%;
}

gridster {
  background-color: #ccc;
}

gridster-item {
  background-color: white;
  border: 1px solid #212529;
}

.position-relative {
  position: relative;
}

.absolute-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.position-relative button {
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.close-button {
  position: absolute;
  top: -3px;
  right: -8px;
  text-align: center;
  color: #212529;
  cursor: pointer;
  text-decoration: none;
  font-size: 28px;
  font-family: "Exo", sans-serif;
}

.scrollable-content {
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.scrollable-content::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #212529;
  color: white;
  position: sticky;
  top: 0;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.item table {
  position: sticky;
  top: -1px;
  width: 100%;
  background: white;
  overflow-y: auto;
}

#img_bezirke {
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 37.5px);
  overflow-y: auto;
  object-fit: contain;
  display: block;
}

#mapHere {
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 37.5px);
  overflow-y: hidden;
  object-fit: contain;
  display: block;
}

.graph {
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 37.5px);
  overflow-y: hidden;
  object-fit: contain;
  display: block;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 2s linear infinite;
}
