.header-container {
  text-align: center;
  top: 0;
  width: 100%;
  background-color: #212529;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  border-bottom: 1px solid grey;
}
.btn {
  display: inline-block;
  background: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.active {
  transform: scale(0.98);
  color: orange;
}
.btn-block {
  display: block;
  width: 100%;
}

/* When the screen is less than max-width pixels wide */
@media screen and (max-width: 618px) {
  .header-text {
    display: none;
  }
}
