igx-geographic-map {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.tooltip-content {
  background-color: white;
  padding: 5px;
  color: #212529;
  font-family: "Exo", sans-serif;
  font-size: 14px;
}

span {
  font-weight: bold;
}

.overlay-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  max-width: 200px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
